body {
    padding: 10px 30px;
    margin: 0;
    height: 100vh;
    background-color: lightgrey;
    font-size: 24px;
    font-family: monospace;
}

.image {
    width: 300px;
    height: 400px;
}

.section-main {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.win-text {
    width: 50%;
}

.win-image {
    width: 50%;
}

a.PAGE { 
    font-weight: 700; 
    color: white; 
    text-decoration: none; 
    padding: .8em 1em calc(.8em + 3px); 
    border-radius: 3px; 
    background: rgb(64, 199, 129); 
    box-shadow: 0 -3px rgb(33, 33, 33) inset; 
    transition: 0.2s; 
} 
 
a.PAGE:hover { background: rgb(53, 167, 110); } 
a.PAGE:active { 
    background: rgb(33,147,90); 
    box-shadow: 0 3px rgb(33,147,90) inset; 
}

/* mobile */
@media screen and (max-width: 500px) {
    .image {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 1em;
    }

    p {
        font-size: 0.7em;
        width: 100%; 
        color: rgb(69, 69, 69);
        
    }

    .section-main {
        flex-direction: column;
    }

    .win-image {
        width: 100%;
    }

    .win-text {
        width: 100%;
    }

}

/* desktop */
@media screen and (min-width: 501px) {

    h1 {
        font-size: 2em;
    }

    
    p{
        width: 100%;
        color: blueviolet;
    }
}

